/* Background */
.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Card */
.reset-card {
  background: #fff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  animation: fadeIn 0.7s ease-in-out;
}

/* Title */
.reset-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Form */
.reset-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.reset-form label {
  font-weight: 600;
  color: #444;
  margin-bottom: 5px;
}

.reset-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.reset-form input:focus {
  border-color: #2575fc;
  box-shadow: 0px 0px 6px rgba(37, 117, 252, 0.4);
}

/* Button */
.reset-btn {
  margin-top: 15px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.reset-btn:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  transform: scale(1.05);
}

/* Messages */
.reset-message {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 500;
}

.reset-message.success {
  color: green;
}

.reset-message.error {
  color: red;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 97%;
  padding-right: 1px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}

.btn-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.cancel-btn {
  background: #e5e7eb;
  cursor: pointer;
  margin-top: 15px;
  padding: 14px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}
.cancel-btn:hover {
  
  transform: scale(1.05);
}